// Colours
$orange:        #ff5000;
$orangedark:    #d94c0b;
// #e17046;
$bluedarkfade:  #26454c;

$white:         #ffffff;
$greylightest:  #edeeef;
$greylight:     #d3d4d5;
$greymedium:    #8a8a8d;
$grey:          #72716c;
$black:         #000000;


// Colour classes
.c-orange {
  color: $orange;
}
.c-orangedark {
  color: $orangedark;
}
.c-bluedarkfade {
  color: $bluedarkfade;
}
.c-white {
  color: $white;
}
.c-greylightest {
  color: $greylightest;
}
.c-greylight {
  color: $greylight;
}
.c-greymedium {
  color: $greymedium !important;
}
.c-grey {
  color: $grey;
}


// BG Colour classes
.bg-orange {
  background-color: $orange;
}
.bg-orangedark {
  background-color: $orangedark;
}
.bg-bluedarkfade {
  background-color: $bluedarkfade;
}
.bg-white {
  background-color: $white !important;
}
.bg-white-faded90 {
  background-color: rgba($white, 0.9);
}
.bg-greylightest {
  background-color: $greylightest !important;
}
.bg-greylight {
  background-color: $greylight;
}
.bg-greymedium {
  background-color: $greymedium;
}
.bg-grey {
  background-color: $grey;
}

.bg-image {
  position: relative;
  background-size: cover;
  background-position: center 25%;
}
.bg-imagemuted {
  position: relative;
  background-size: cover;
  background-position: center 25%;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba($bluedarkfade, 0.4);
    pointer-events: none;
  }
  & > * {
    position: relative;
    z-index: 3;
  }
}


// BG Colour classes extend
.bg-greylightest-extendleft {
  position: relative;
  background-color: $greylightest;

  &:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    height: 100%;
    width: 2000px;
    background-color: $greylightest;
  }
}
