body {
  width: 100%;
  height: 100%;

  font-family: "Montserrat", Arial, sans-serif;
  font-size: 100%;
  font-kerning: normal;
  line-height: 1.5em;

  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}