body {
  width: 100%;
  height: 100%;

  font-family: "Montserrat", Arial, sans-serif;
  font-size: 100%;
  font-kerning: normal;
  line-height: 1.5em;
  font-weight: 300;

  color: darken($grey, 15%);

  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
  background-color: $bluedarkfade;
  color: $white;
}
::selection {
  background-color: $bluedarkfade;
  color: $white;
}

a {
  color: inherit;
  text-decoration: none;
}
a.link-block {
  &:hover {
    background-color: rgba($bluedarkfade, 0.1);
  }
}

p {
  line-height: 1.8rem;
  max-width: 50rem;
}

blockquote {
  font-size: 1.5rem;
  line-height: 2rem;

  p {
    font: inherit;
    line-height: inherit;
  }
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  color: $orange;
}
h4.h4-capped {
  color: $greylight;
  font-weight: 500;
  letter-spacing: 0.2em;
  line-height: 2rem;
}

date {
  color: $greymedium;
  font-size: 0.85rem;
}



// Grid system tweak
.row {
  // max-width: 1200px;
  margin: 0 auto;
}
.row-nopadding > * {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.row-internalpadding {
  
}
