// Mixins


// CSS transition
@mixin transition($arguments: all 0.3s ease) {
  -webkit-transition: $arguments;
  -moz-transition: $arguments;
  -o-transition: $arguments;
  transition: $arguments;
}

// Transition delay
@mixin transition-delay($arguments: 0.3s) {
  -webkit-transition-delay: $arguments;
  -moz-transition-delay: $arguments;
  -o-transition-delay: $arguments;
  transition-delay: $arguments;
}

// Transform
@mixin transform($arguments) {
  -webkit-transform: $arguments;
  -moz-transform: $arguments;
  -o-transform: $arguments;
  transform: $arguments;
}

// Transform Origin
@mixin transform-origin($arguments) {
  -webkit-transform-origin: $arguments;
  -moz-transform-origin: $arguments;
  -o-transform-origin: $arguments;
  transform-origin: $arguments;
}

// Drop shadow
@mixin box-shadow($arguments) {
  -webkit-box-shadow: $arguments;
  -moz-box-shadow: $arguments;
  -o-box-shadow: $arguments;
  box-shadow: $arguments;
}

// Appearance
@mixin no-appearance() {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

// Border radius
@mixin rounded($size: 5px) {
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
  -o-border-radius: $size;
  border-radius: $size;
}

// Creates more elegant text underlines
@mixin underline($color, $weight: 2px, $offset: 0px) {
  background-image: linear-gradient(to top, transparent, transparent $offset, $color $offset, $color ($offset + $weight), transparent ($offset + $weight))
}

// Vertical gradient
@mixin vertical-gradient($from, $to) {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $from), color-stop(100%, $to));
  background: -webkit-linear-gradient(top, $from, $to);
  background: -moz-linear-gradient(top, $from, $to);
  background: -ms-linear-gradient(top, $from, $to);
  background: -o-linear-gradient(top, $from, $to);
  background: linear-gradient(to bottom, $from, $to);
}

// Filter prefixing
@mixin filter($filter-type,$filter-amount) { 
  -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
  -moz-filter: $filter-type+unquote('(#{$filter-amount})');
  -ms-filter: $filter-type+unquote('(#{$filter-amount})');
  -o-filter: $filter-type+unquote('(#{$filter-amount})');
  filter: $filter-type+unquote('(#{$filter-amount})');
}

// Animmation
@mixin animation($arguments) {
  -webkit-animation: $arguments;
  -moz-animation: $arguments;
  -o-animation: $arguments;
  animation: $arguments;
}

// continuous spinning
@mixin isSpinning($arguments: spinning 1s infinite linear) {
  @include animation($arguments);
}
@-webkit-keyframes spinning {
    0% { -webkit-transform: rotate(0); }
  100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spinning {
    0% { -moz-transform: rotate(0); }
  100% { -moz-transform: rotate(360deg); }
}
@keyframes spinning {
    0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}