// Mixins


// CSS transition
@mixin transition($arguments: all 0.3s ease) {
  -webkit-transition: $arguments;
  -moz-transition: $arguments;
  -o-transition: $arguments;
  transition: $arguments;
}

// Transform
@mixin transform($arguments) {
  -webkit-transform: $arguments;
  -moz-transform: $arguments;
  -o-transform: $arguments;
  transform: $arguments;
}

// Transform Origin
@mixin transform-origin($arguments) {
  -webkit-transform-origin: $arguments;
  -moz-transform-origin: $arguments;
  -o-transform-origin: $arguments;
  transform-origin: $arguments;
}

// Drop shadow
@mixin box-shadow($arguments) {
  -webkit-box-shadow: $arguments;
  -moz-box-shadow: $arguments;
  -o-box-shadow: $arguments;
  box-shadow: $arguments;
}

// Appearance
@mixin no-appearance() {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

// Border radius
@mixin rounded($size: 5px) {
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
  -o-border-radius: $size;
  border-radius: $size;
}

// Creates more elegant text underlines
@mixin underline($color, $weight: 2px, $offset: 0px) {
  background-image: linear-gradient(to top, transparent, transparent $offset, $color $offset, $color ($offset + $weight), transparent ($offset + $weight))
}

// Vertical gradient
@mixin vertical-gradient($from, $to) {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $from), color-stop(100%, $to));
  background: -webkit-linear-gradient(top, $from, $to);
  background: -moz-linear-gradient(top, $from, $to);
  background: -ms-linear-gradient(top, $from, $to);
  background: -o-linear-gradient(top, $from, $to);
  background: linear-gradient(to bottom, $from, $to);
}
