/* --- Utilities --- */
$u: 5;

@for $i from 0 through 40 {

  // margins
  .u-mt#{$i * $u} { margin-top: #{$i * $u}px !important; }
  .u-mr#{$i * $u} { margin-right: #{$i * $u}px !important; }
  .u-mb#{$i * $u} { margin-bottom: #{$i * $u}px !important; }
  .u-ml#{$i * $u} { margin-left: #{$i * $u}px !important; }
  .u-mv#{$i * $u} { margin-top: #{$i * $u}px !important; margin-bottom: #{$i * $u}px !important; }
  .u-mh#{$i * $u} { margin-left: #{$i * $u}px !important; margin-right: #{$i * $u}px !important; }
  .u-ma#{$i * $u} { margin: #{$i * $u}px !important; }

  // paddings
  .u-pt#{$i * $u} { padding-top: #{$i * $u}px !important; }
  .u-pr#{$i * $u} { padding-right: #{$i * $u}px !important; }
  .u-pb#{$i * $u} { padding-bottom: #{$i * $u}px !important; }
  .u-pl#{$i * $u} { padding-left: #{$i * $u}px !important; }
  .u-pv#{$i * $u} { padding-top: #{$i * $u}px !important; padding-bottom: #{$i * $u}px !important;}
  .u-ph#{$i * $u} { padding-left: #{$i * $u}px !important; padding-right: #{$i * $u}px !important;}
  .u-pa#{$i * $u} { padding: #{$i * $u}px !important; }

  // line-heights
  .u-lineheight#{$i * $u} { line-height: #{$i * $u}px !important; }

  // height & width
  .u-width#{$i * $u} { width: #{$i * $u}px !important; }
  .u-width#{($i * $u) + 200} { width: #{($i * $u) + 200}px !important; }
  .u-height#{$i * $u} { height: #{$i * $u}px !important; }

}

.u-widthfull {
  width: 100% !important;
}
.u-heightfull {
  height: 100% !important;
}
.u-height100vh {
  height: 100% !important; // fallback
  height: 100vh !important;
}

// min-widths & min-heights
.u-minheight100vh {
  min-height: 100% !important; // fallback
  min-height: 100vh !important;
}
.u-maxheight100vh {
  max-height: 100% !important; // fallback
  max-height: 100vh !important;
}
.u-maxwidth100p {
  max-width: 100% !important;
}
.u-maxheight100p {
  max-height: 100% !important;
}

.u-pt1r {
  padding-top: 1rem !important;
}
.u-mb1r {
  margin-bottom: 1rem !important;
}
.u-pv15vw {
  padding-top: 15vw !important;
  padding-bottom: 15vw !important;
}
.u-mt70vh-sm {
  margin-top: 70vh;

  @media screen and (max-width: 768px) {
    margin-top: 0;
  }
}
.u-ph30-sm {
  padding-left: 30px !important;
  padding-right: 30px !important;

  @media screen and (max-width: 768px) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.u-absolute {
  position: absolute !important;
}
.u-relative {
  position: relative !important;
}
.u-stick-topfull {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
}
.u-stick-bottomfull {
  position: absolute !important;
  bottom: 0;
  left: 0;
  width: 100%;
}
.u-pin-topfull {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
}
.u-pinned-topright {
  position: absolute !important;
  top: 0;
  right: 0;
}


.u-block {
  display: block !important;
}
.u-inlineblock {
  display: inline-block !important;
}
.u-floatleft {
  display: inline-block !important;
  float: left !important;
}
.u-floatright {
  display: inline-block !important;
  float: right !important;
}
.u-alignleft {
  text-align: left !important;
}
.u-aligncenter {
  text-align: center !important;
}
.u-alignright {
  text-align: right !important;
}
.u-hide, .u-xs-show, .u-sm-show {
  display: none !important;
}
@media screen and (max-width: 480px) {
  .u-xs-hide { display: none !important; }
  .u-xs-show { display: inherit !important; }
}
@media screen and (max-width: 768px) {
  .u-sm-hide { display: none !important; }
  .u-sm-show { display: inherit !important; }
}


// Flexbox
.u-flex {
  -webkit-display: flex !important;
  display: flex !important;
}
.u-flex-row {
  -webkit-display: flex !important;
  display: flex !important;
  -webkit-flex-direction: row !important;
  flex-direction: row !important;
}
.u-flex-column {
  -webkit-display: flex !important;
  display: flex !important;
  -webkit-flex-direction: column !important;
  flex-direction: column !important;
}
.u-flex-alignstart {
  -webkit-align-self: flex-start !important;
  align-self: flex-start !important;
}
.u-flex-alignend {
  -webkit-align-self: flex-end !important;
  align-self: flex-end !important;
}
.u-flex-grow1 {
  -webkit-display: flex !important;
  display: flex !important;
  -webkit-flex-grow: 1 !important;
  flex-grow: 1 !important;
}
.u-flex-center {
  -webkit-display: flex !important;
  display: flex !important;
  -webkit-align-items: center !important;
  align-items: center !important;
  -webkit-justify-content: center !important;
  justify-content: center !important;
}


// z-indexes
@for $i from 0 through 20 {
  .u-z#{$i} {
    z-index: #{$i} !important;
  }
}

.u-lineheight10 {
  line-height: 10px !important;
}
.u-lineheight10 {
  line-height: 10px !important;
}
.u-lineheight20 {
  line-height: 20px !important;
}
.u-lineheight30 {
  line-height: 30px !important;
}

.u-truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.u-nowrap {
  white-space: nowrap !important;
}

.u-clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}


.u-semibold {
  font-weight: 500 !important;
}
.u-text1 {
  font-size: 1rem !important;
  line-height: 1.2rem !important;
}
.u-text1_5 {
  font-size: 1.5rem !important;
  line-height: 2.25rem !important;
}
.u-text2 {
  font-size: 2rem !important;
  line-height: 2.4rem !important;
}
.u-text3 {
  font-size: 3rem !important;
  line-height: 3.6rem !important;
}


.u-opacity70 {
  opacity: 0.7 !important;
}
.u-opacity50 {
  opacity: 0.5 !important;
}
.u-opacity30 {
  opacity: 0.3 !important;
}


.u-overflowscroll {
  overflow: scroll !important;
}
.u-overflowhidden {
  overflow: hidden !important;
}


.u-appearOnLoad {
  opacity: 0;
  pointer-events: none;
  @include transition(all 0.6s ease);
  @include transform(scale(0.75));
  @include transform-origin(bottom center);

  &.isLoaded {
    opacity: 1;
    @include transform(scale(1));
    pointer-events: all;
  }
}

.u-p-events {
  pointer-events: all !important;
}
.u-no-p-events {
  pointer-events: none !important;
}