/* --- Utilities --- */
$u: 5;

@for $i from 0 through 40 {

  // margins
  .u-mt#{$i * $u} { margin-top: #{$i * $u}px !important; }
  .u-mr#{$i * $u} { margin-right: #{$i * $u}px !important; }
  .u-mb#{$i * $u} { margin-bottom: #{$i * $u}px !important; }
  .u-ml#{$i * $u} { margin-left: #{$i * $u}px !important; }
  .u-mv#{$i * $u} { margin-top: #{$i * $u}px !important; margin-bottom: #{$i * $u}px !important; }
  .u-mh#{$i * $u} { margin-left: #{$i * $u}px !important; margin-right: #{$i * $u}px !important; }
  .u-ma#{$i * $u} { margin: #{$i * $u}px !important; }

  // paddings
  .u-pt#{$i * $u} { padding-top: #{$i * $u}px !important; }
  .u-pr#{$i * $u} { padding-right: #{$i * $u}px !important; }
  .u-pb#{$i * $u} { padding-bottom: #{$i * $u}px !important; }
  .u-pl#{$i * $u} { padding-left: #{$i * $u}px !important; }
  .u-pv#{$i * $u} { padding-top: #{$i * $u}px !important; padding-bottom: #{$i * $u}px !important;}
  .u-ph#{$i * $u} { padding-left: #{$i * $u}px !important; padding-right: #{$i * $u}px !important;}
  .u-pa#{$i * $u} { padding: #{$i * $u}px !important; }

  // line-heights
  .u-lineheight#{$i * $u} { line-height: #{$i * $u}px !important; }

  // height & width
  .u-width#{$i * $u} { width: #{$i * $u}px !important; }
  .u-width#{($i * $u) + 200} { width: #{($i * $u) + 200}px !important; }
  .u-height#{$i * $u} { height: #{$i * $u}px !important; }

}

.u-absolute {
  position: absolute !important;
}
.u-relative {
  position: relative !important;
}


.u-block {
  display: block !important;
}
.u-inlineblock {
  display: inline-block !important;
}
.u-floatleft {
  display: inline-block !important;
  float: left !important;
}
.u-floatright {
  display: inline-block !important;
  float: right !important;
}
.u-alignleft {
  text-align: left !important;
}
.u-aligncenter {
  text-align: center !important;
}
.u-alignright {
  text-align: right !important;
}

.u-z0 {
  z-index: 0 !important;
}
.u-z1 {
  z-index: 1 !important;
}
.u-z2 {
  z-index: 2 !important;
}
.u-z3 {
  z-index: 3 !important;
}
.u-z4 {
  z-index: 4 !important;
}

.u-lineheight10 {
  line-height: 10px !important;
}
.u-lineheight10 {
  line-height: 10px !important;
}
.u-lineheight20 {
  line-height: 20px !important;
}
.u-lineheight30 {
  line-height: 30px !important;
}


.u-appearOnLoad {
  opacity: 0;
  pointer-events: none;
  @include transition(all 0.6s ease);
  @include transform(scale(0.75));
  @include transform-origin(top center);

  &.isLoaded {
    opacity: 1;
    @include transform(scale(1));
    pointer-events: all;
  }
}

.u-p-events {
  pointer-events: all !important;
}
.u-no-p-events {
  pointer-events: none !important;
}