# Sublime workspace (local)
*.sublime-workspace

# Kirby folders
/site/accounts
/site/config
/site/cache

# Google site verifier html (server)
googleaa37408530a000c3.html

# error log (server)
error_log
email.log