.article-list {
  a {
    color: $grey;

    &:hover, &:focus, &:visited:hover {
      color: $orange;

      time {
        color: rgba($orange, 0.75);
      }
    }
    &:visited {
      display: block;
      border: 2px solid $orange;
      color: lighten($greymedium, 10%);
      font-weight: normal;

      h3 {
        font-weight: 400;
      }
      time {
        color: rgba(lighten($greymedium, 10%), 0.5);
      }
      .article-list-image {
        opacity: 0.1;
        // border: 2px solid $orange;
        // @include filter(saturate, 20%);
      }
    }
  }
}

$padding_md: 5rem;
$padding_xs: 1rem;

.article {
  padding-left: $padding_md;
  padding-right: $padding_md;

  @media screen and (max-width: 768px) {
    padding-left: $padding_xs;
    padding-right: $padding_xs;
  }

  .article__edgetoedge {
    margin-left: -$padding_md;
    margin-right: -$padding_md;
    width: calc(100% + 2 * $padding_md);

    @media screen and (max-width: 768px) {
      margin-left: -$padding_xs;
      margin-right: -$padding_xs;
      width: calc(100% + 2 * $padding_xs);
    }
  }

  figure, .owl-carousel {
    position: relative;
    margin-left: -$padding_md;
    margin-right: -$padding_md;
    width: calc(100% + 10rem);
    
    figure {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
    @media screen and (max-width: 768px) {
      margin-left: -$padding_xs;
      margin-right: -$padding_xs;
      width: calc(100% + 2 * $padding_xs);
    }
  }
  figure {
    & + p {
      margin-top: 1.5rem;
    }
    figcaption {
      position: absolute;
      bottom: 0;
      right: 100%;
      display: block;
      width: 40%;
      padding: 0 1rem;
      text-align: right;
      font-size: 0.875rem;
      font-style: italic;
      line-height: 1.25rem;
    }
    &.medium {
      max-width: 50%;
    }
    &.small {
      max-width: 30%;
    }
  }
  p {
    font-family: "Martel", Times, Times New Roman, serif;
    
    & + p,
    & + figure,
    & + ul,
    & + blockquote {
      margin-top: 1.5rem;
    }
  }
  ul {
    margin-left: 1.25rem;
    font-family: "Martel", Times, Times New Roman, serif;
    line-height: 1.8rem;
    max-width: 50rem;
  }
  blockquote {
    & + p {
      margin-top: 1.5rem;
    }
  }
  a:hover {
    color: $orange;
  }
}

.content {
  padding-left: $padding_md;
  padding-right: $padding_md;

  @media screen and (max-width: 768px) {
    padding-left: $padding_xs;
    padding-right: $padding_xs;
  }
}