.article-list {
  a {
    color: $grey;

    &:hover, &:focus {
      color: $orange;

      date {
        color: rgba($orange, 50%);
      }
    }
    &:visited {
      color: lighten($greymedium, 10%);

      date {
        color: rgba(lighten($greymedium, 10%), 0.5);
      }
    }
  }
}

.article {
  padding-left: 5rem;
  padding-right: 5rem;

  figure {
    margin-left: -5rem;
    width: calc(100% + 5rem);

    & + p {
      margin-top: 1.5rem;
    }
  }
  p {
    & + p,
    & + figure,
    & + ul,
    & + blockquote {
      margin-top: 1.5rem;
    }
  }
}