.footer {
  background: $white;
  border-top: 1px solid $greylightest;

  .footer-menu {
    list-style: none;
    font-weight: 500;

    li {
      display: block;
      padding: 5px 0;
    }
    li a {

      &.isActive { color: $orange; }

      &:hover {
        @include underline(currentColor, 1px, 0);
      }
    }
  }
}
