nav {
  $width: 400px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-display: flex;
  display: flex;
  height: 100%;
  width: $width;
  max-width: calc( 100vw - 60px );
  background-color: $orange;
  color: $white;

  padding: 100px 50px 35px;

  @include box-shadow(0 0 20px rgba($black, 0.25));
  @include transition();
  @include transform(translateX(-$width));

  @media screen and (max-width: 768px) {
    padding: 3rem 2rem 1.5rem;
  }

  ul {
    align-self: flex-end;
    list-style: none;
    font-size: 1.5rem;
    line-height: 3rem;

    @media screen and (max-width: 768px) {
      font-size: 1.25rem;
      line-height: 2.5rem;
    }
  }
  a {
    color: rgba($white, 0.85);

    &.isActive { 
      color: $white; 
      font-weight: 600;
    }

    &:hover {
      color: $white;
      @include underline(currentColor, 1px, 0);
    }
  }
}
.navIsOpen nav {
  @include transform(translateX(0));    
}

a.nav-toggle {
  position: fixed;
  top: 30px;
  left: 40px;
  display: block;
  width: 60px;
  height: 60px;
  z-index: 11;

  @media screen and (max-width: 768px) {
    top: 10px;
    left: 20px;
  }

  span {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-top: 2px solid $orange;
    @include transition();
    @include transform-origin(15% 15%);
  }
  span:first-child {
    top: 25%;
    width: 85%;
  }
  span:last-child {
    top: 75%;
    width: 65%;
  }
}
.navIsOpen a.nav-toggle {
  span:nth-child(2) { opacity: 0; }
  span:first-child {
    width: 100%;
    border-top-color: $white;
    @include transform(rotate(45deg));
  }
  span:last-child {
    width: 100%;
    border-top-color: $white;
    @include transform(rotate(-45deg));
  }
}

a.nav-fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  background-color: rgba($bluedarkfade, 0.5);
  color: transparent;
  opacity: 0;
  pointer-events: none;
  @include transition();
}
.navIsOpen a.nav-fade {
  opacity: 1;
  pointer-events: all;
}
