// Button
.button {
  @include no-appearance();
  display: inline-block;
  padding: 9px 18px;
  background-color: $grey;
  border: 1px solid transparent;
  color: $white;
  font: inherit;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;

  &:focus, &:active {
    outline: none;
  }

  &.button-small {
    font-size: 0.9em;
    padding: 4px 9px;
  }

  &.button-primary {
    background-color: $orange;

    &:hover {
      background-color: darken($orange, 10%);
    }
  }

  &.button-white {
    background-color: $white;
    color: $orange;

    &:hover {
      background-color: $orange;
      color: $white;
    }
  }

  &.button-outline {
    background-color: transparent;
    border: 1px solid $orange;
    color: $orange;

    &:hover {
      background-color: $orange;
      color: $white;
    }
  }

  &.button-outline-reveal {
    background-color: transparent;
    border: 1px solid transparent;
    color: $orange;

    &:hover {
      border-color: $orange;
    }
  }
  &.button-transp {
    background-color: rgba($black, 0.2);

    &:hover {
      background-color: rgba($black, 0.3);
    }
  }

  &.isBusy {
    position: relative;
    background-color: $greylight !important;
    color: transparent !important;

    &:before {
      content: "\f29a";
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -0.25em;
      margin-left: -0.25em;
      font-family: "Ionicons";
      font-size: 1.8em;
      color: $white;
      pointer-events: none;

      @include isSpinning();
    }
  }

}
