// Button
.button {
  @include no-appearance();
  display: inline-block;
  padding: 9px 18px;
  background-color: $grey;
  border: 1px solid transparent;
  color: $white;
  font: inherit;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;

  &:focus, &:active {
    outline: none;
  }
  &.button-primary {
    background-color: $orange;

    &:hover {
      background-color: darken($orange, 10%);
    }
  }

  &.button-small {
    font-size: 0.9em;
    padding: 4px 14px;
  }

  &.button-outline {
    background-color: transparent;
    border: 1px solid $orange;
    color: $orange;

    &:hover {
      background-color: $orange;
      color: $white;
    }
  }

  &.button-outline-reveal {
    background-color: transparent;
    border: 1px solid transparent;
    color: $orange;

    &:hover {
      border-color: $orange;
    }
  }
}
