/* --- Element: Field --- */
.field {
  width: 100%;
  padding: 5px 0;
  border: none;
  border-bottom: 2px solid $greylight;
  @include no-appearance();
  background-color: transparent;
  line-height: 20px;
  font-family: inherit;
  font-size: 1rem;
  color: $grey;

  &:focus {
    outline: none;
    border-color: $orange;
    color: $orange;
  }
  &.isActive {
    color: $orange;
  }
  &.field-light {
    border-bottom-color: rgba($white, 0.75);
    color: $white;

    &:focus {
      border-bottom-color: $white;
    }
    &::-webkit-input-placeholder {
      color: rgba($white, 0.5);
    }
    &:-moz-placeholder {
      color: rgba($white, 0.5);
    }
    &::-moz-placeholder {
      color: rgba($white, 0.5);
    }
    &:-ms-input-placeholder {  
      color: rgba($white, 0.5);
    }
  }
  &.field-box {
    padding: 15px 30px 15px;
    line-height: 40px;
    border-bottom-width: 0;
    border-top: 2px solid $greylightest;

    // @include vertical-gradient(transparent, rgba($bluedarkfade, 0.05));


    &::-webkit-input-placeholder {
      color: rgba($bluedarkfade, 0.25);
    }
    &:-moz-placeholder {
      color: rgba($bluedarkfade, 0.25);
    }
    &::-moz-placeholder {
      color: rgba($bluedarkfade, 0.25);
    }
    &:-ms-input-placeholder {  
      color: rgba($bluedarkfade, 0.25);
    }
  }
}
