.nav-logo .logo-svg {
  $size: 280px;
  position: fixed;
  height: $size !important;
  top: 250px;
  left: 300px;
  z-index: 11;
  margin-left: - $size * 0.447;
  margin-top: - $size * 0.409;
  @include transition(left 0.3s ease);
  @include transform-origin(44.7% 40.9%);

  .st0 {
    @include transition();
  }
}
.navIsOpen .nav-logo .logo-svg {
  left: 400px !important;

  .st0, .emblem .st0 {
    fill: $white !important;
  }
}

.logo-svg-word {

  .word {
    @include transform(translateX(-118px));
  }
}

.nav-logo-watermark .logo-svg {
  top: auto;
  bottom: 50px;
  left: 33.33333%;
}
