.nav-logo .logo-svg {
  $size: 280px;
  $size_sm: 120px;
  position: fixed;
  height: $size !important;
  top: 250px; // irrelevant, gets aligned with js
  left: 25%;
  z-index: 11;
  margin-left: - $size * 0.447;
  margin-top: - $size * 0.409;
  @include transition(left 0.3s ease);
  @include transform-origin(44.7% 40.9%);

  .st0 {
    @include transition();
  }
  @media screen and (max-width: 1024px) {
    height: $size * 0.75 !important;
    margin-top: - $size_sm * 0.72;
  }
  @media screen and (max-width: 768px) {
    left: auto;
    right: 1rem;
    height: $size_sm !important;
    margin-left: - $size_sm * 0.447;
    margin-top: - $size_sm * 0.409;
  }
}
.navIsOpen .nav-logo .logo-svg {
  left: 400px !important;

  .st0, .emblem .st0 {
    fill: $white !important;
  }
}

.logo-svg-word {
  .word {
    @include transform(translateX(-118px));
  }
}
.logo-svg-word-wrapper {
  max-width: 90px; 
  overflow: hidden; 
  padding-top: 5px;
}

.nav-logo-watermark .logo-svg {
  top: auto;
  bottom: 20px;
  left: 33.33333%;
  @include transform(scale(0.75));
  pointer-events: none;
}
